@import "tailwindcss";

@theme {
  /* ... tus colores ... */
  --color-bg-dark: #121212;
  --color-panel-bg: #1e1e1e;
  --color-text-main: #e0e0e0;
  --color-accent-red: #d32f2f;
  --color-accent-blue: #1976d2;
  --color-accent-green: #388e3c;
  --color-accent-purple: #7b1fa2;
  --color-isaac-flesh: #f5cba7;
  --color-border-gray: #444;

  /* CAMBIA ESTO PARA USAR LA FUENTE DE GOOGLE */
  --font-pixel: "Press Start 2P", cursive; 
  
  --font-roboto: "Roboto", sans-serif;
}

/* Estilos base */
body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: var(--font-roboto);
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #444; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--color-accent-red); }