@import "tailwindcss";

@theme {
  /* COLORES DE ISAAC */
  --color-bg-dark: #121212;
  --color-panel-bg: #1e1e1e;
  --color-text-main: #e0e0e0;
  
  --color-accent-red: #d32f2f;
  --color-accent-blue: #1976d2;
  --color-accent-green: #388e3c;
  --color-accent-purple: #7b1fa2;
  
  --color-isaac-flesh: #f5cba7;
  --color-border-gray: #444;

  /* FUENTES */
  --font-pixel: "Press Start 2P", cursive;
  --font-roboto: "Roboto", sans-serif;
}

/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

/* Estilos base globales */
body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: var(--font-roboto);
  overflow: hidden;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-red);
}